<h1>Registro de Propietarios</h1>
<form action="{% url 'registro_vehiculos:agregar_propietario' %}" method="POST">
    {%csrf_token%}
    <input type="text" name="nombre" placeholder="Nombre completo" required>
    <br>
    <br>
    <input type="text" name="nro_apartamento" placeholder="Número de apartamento" required>
    <br>
    <br>
    <input type="text" name="telefono" placeholder="Número de teléfono" required>
    <br>
    <br>
    <input type="email" name="email" placeholder="Correo electrónico" required>
    <br>
    <br>
    <button type="submit">Guardar</button>
    <a href="mostrar_propietarios">Ver Propietarios</a>
</form>